
.section-p1{
    padding: 40px 80px;
}


#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}


#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 2px solid #989898;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 15px;
}

#cart-add{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
}

#coupon button:hover,
#subtotal button:hover{
    background-color: #065c56;
    cursor:grab;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #000000;
    padding: 30px;
    border-radius: 10px;
    
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}




/* for the check-out */




/* Style for the modal */
#checkout-modal {
    display: none; /* Hidden by default */
}


#address-modal {
    display: none; /* Hidden by default */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
}

.close-btn, .close-address-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-address-btn:hover,
.close-btn:focus, .close-address-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
